{% extends '_base.html' %}

{% block page_title %}注册{% endblock %}

{% block head %}
  {{ render_static('css', 'css/auth.css') }}
{% endblock %}

{% block body %}
  <div class="ui card">
    <div class="content">
      <div class="center aligned header">加入立刻，立刻加入</div>
      <div class="ui form">
        <form method="post">
          <div class="field">
            {{ form.csrf_token() }}
          </div>
          <div class="field">
            {{ form.username.label }}
            {{ form.username }}
          </div>
          <div class="field">
            {{ form.email.label }}
            {{ form.email }}
          </div>
          <div class="field">
            {{ form.password.label }}
            {{ form.password }}
          </div>
          <div class="field">
            {{ form.password_repeat.label }}
            {{ form.password_repeat }}
          </div>
          <div class="field">
            {{ form.captcha.label }}
            <div class="ui action input">
            {{ form.captcha }}
            <button class="ui button" id="get-captcha">获取验证码</button>
            </div>
          </div>
          <div class="field">
            {{ form.submit(class='fluid ui button') }}
          </div>
        </form>
      </div>
      <br>
      <div class="item">
        <a href="{{ url_for('auth.login') }}">已有账号？立刻登录！</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_static('js', 'js/jquery.min.js') }}
  {{ render_static('js', 'js/auth.js') }}
{% endblock %}