{% extends 'user/_base_user.html' %}

{% block page_title %}{{ user.username }}{{ type }}的讨论组{% endblock %}

{% block lg_content %}
  <div class="ui link cards">
    {% for disc in discs %}
      <div class="card">
          <div class="content">
        <a href="{{ url_for('disc.disc_room', disc_id=disc.id) }}">
            <div class="header">{{ disc.name }}</div>
        </a>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  {{ render_static('js', 'js/jquery.min.js') }}
  {{ render_static('js', 'semantic-ui/semantic.min.js') }}
  <script>
  $('.ui.sticky').sticky({
            context: '#lg-content'
        });
  </script>
{% endblock %}