{% extends 'user/_base_user.html' %}

{% block page_title %}{{ user.username }}的关注者{% endblock %}

{% block lg_content %}
  <div class="ui link cards">
    {% for follower in followers %}
      <div class="card">
        <div class="content">
          <a href="{{ url_for('user.index', user_id=follower.id) }}">
            <div class="header">{{ follower.username }}</div>
            <div class="description">{{ follower.bio }}</div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  {{ render_static('js', 'js/jquery.min.js') }}
  {{ render_static('js', 'semantic-ui/semantic.min.js') }}
  <script>
      $('.ui.sticky').sticky({
          context: '#lg-content'
      });
  </script>
{% endblock %}