{% extends 'user/_base_user.html' %}

{% block page_title %}{{ user.username }}关注的人{% endblock %}

{% block lg_content %}
  <div class="ui link cards">
    {% for follow in followed %}
      <div class="card">
          <div class="content">
        <a href="{{ url_for('user.index', user_id=follow.id) }}">
            <div class="header">{{ follow.username }}</div>
            <div class="description">{{ follow.bio }}</div>
        </a>
          </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}

{% block scripts %}
  {{ render_static('js', 'js/jquery.min.js') }}
  {{ render_static('js', 'semantic-ui/semantic.min.js') }}
  <script>
  $('.ui.sticky').sticky({
            context: '#lg-content'
        });
  </script>
{% endblock %}