[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-moment = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-login = "*"
bootstrap-flask = "*"
python-memcached = "*"
flask-mail = "*"
python-socketio = "*"
flask-socketio = "*"
eventlet = "*"
flask-whooshee = "*"

[dev-packages]
watchdog = "*"
v = {version = "*", editable = true}
faker = "*"

[requires]
python_version = "3.6"
