[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-moment = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-login = "*"
python-memcached = "*"
flask-mail = "*"
python-socketio = "*"
flask-socketio = "*"
eventlet = "*"
flask-whooshee = "*"
pymysql = "*"
redis = "*"
celery = "*"
pymongo = "*"
gunicorn = "*"
pyyaml = "==4.2b2"
qiniu = "*"
flask-qiniustoraging = "*"

[dev-packages]
watchdog = "*"
faker = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
