{% extends '_base.html' %}
{% from 'bootstrap/utils.html' import render_static %}

{% block head %}
  {{ render_static('css', 'css/front.css') }}
{% endblock %}

{% block body %}
  <div class="page-container">
    <div class="lg-content" id="lg-content">
      {% block lg_content %}
      {% endblock %}
    </div>
    <div class="sm-content rail">
      <div class="ui sticky">
        <div class="placeholder"></div>
        {% block sm_content %}
        {% endblock %}
        <div class="ui card" id="topic-card">
          <div class="content">
            <div class="center aligned header">热门话题</div>
            <div class="description" id="hot-topics">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ render_static('js', 'js/front.js') }}
{% endblock %}
