{% extends 'front/_base_front.html' %}

{% block page_title %}{{ title }}{% endblock %}

{% block lg_content %}
  <div id="stream"></div>  {# 动态流 #}
{% endblock %}

{% block sm_content %}
  <div class="ui card" id="action-card">
    <div class="content">
      <div class="center aligned header">立刻开始</div>
      <div class="ui big horizontal list main-actions">
        <div class="item action-item">
          <a href="{{ url_for('front.new_post') }}">
            <i class="edit icon"></i>
            <div class="item">动态</div>
          </a>
        </div>
        <div class="item action-item">
          <a href="{{ url_for('front.new_topic') }}">
            <i class="hashtag icon"></i>
            <div class="item">主题</div>
          </a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="item action-item">
          <a href="{{ url_for('user.joined_disc', user_id=current_user.id) }}">
            <i class="comments icon"></i>
            <div class="item">讨论</div>
          </a>
        </div>
        <div class="item action-item">
          <a href="{{ url_for('user.index', user_id=current_user.id) }}">
            <i class="home icon"></i>
            <div class="item">主页</div>
          </a>
        </div>
        {% endif %}
        {#                <div class="item action-item">#}
        {#                  <i class="cog icon"></i>#}
        {#                  <div class="item">设置</div>#}
        {#                </div>#}
      </div>
    </div>
  </div>
  {% if possible_know %}
    <div class="ui card">
      <div class="content">
        <div class="header center">可能认识的人</div>
        <div class="description">
          <div class="ui middle aligned list">
            {% for num, user in possible_know %}
              <div class="item">
                <img src="{{ user.avatar }}" class="ui avatar image">
                <div class="content">
                  <a href="{{ url_for('user.index', user_id=user.id) }}" class="header">
                    {{ user.username }}
                  </a>
                  <div class="description">共有 {{ num }} 名共同关注</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
      var stream_type = "{{ stream }}";
      var topic_id = null;
      var post_id = null;
      var user_id = null;
  </script>
{% endblock %}