{% extends 'front/_base_front.html' %}

{% block page_title %}{{ title }}{% endblock %}

{% block lg_content %}
  <div id="stream"></div>  {# 动态流 #}
{% endblock %}

{% block sm_content %}
  {{ super() }}
  <div class="ui card" id="topic-card">
    <div class="content">
      <div class="center aligned header">热门话题</div>
      <div class="description">
        {% for topic in hot_topics %}
          <a class="ui large label" href="{{ url_for('front.topic', topic_id=topic.id) }}">
            {{ topic.name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
      var stream_type = "{{ stream }}";
      var topic_id = null;
      var post_id = null;
      var user_id = null;
  </script>
{% endblock %}