{% extends 'disc/_base_disc.html' %}
{% from '_macros.html' import render_stat with context %}
{% from 'bootstrap/utils.html' import render_static %}

{% block page_title %}{{ disc.name }}{% endblock %}

{% block lg_content %}
  <div class="ui card fluid" id="discussion-info">
    <div class="content">
      <div class="header">{{ disc.name }}</div>
      <div class="meta">
        <span>{{ disc.creator.username }}</span>
        <span>创建时间：{{ moment(disc.create_time).fromNow() }}</span>
      </div>
    </div>
    {% if current_user not in disc.participants %}
      <div class="extra content">
        <button class="ui button small" id="join-discussion">加入讨论</button>
      </div>
    {% endif %}
  </div>
  <div id="message-box">
    {% if current_user in disc.participants %}
      {% for stat in disc.statements %}
        {{ render_stat(stat) }}
      {% endfor %}
    {% endif %}
  </div>
  <div class="ui action input fluid" id="input-box">
    <input type="text" id="stat-input">
    <button class="ui button" id="stat-btn">发送</button>
  </div>
{% endblock %}


{% block sm_content %}
  <div id="user-list">
    <div class="ui middle aligned list">
      {% for user in disc.participants %}
        <div class="item">
          <a href="{{ url_for('user.index', user_id=user.id) }}">
          <img src="{{ user.avatar() }}" class="ui avatar image">
          <div class="content">
            <div class="header">{{ user.username }}</div>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ render_static('js', 'js/socket.io.js') }}
  {{ render_static('js', 'js/discussion.js') }}
  <script>
      var disc_id = {{ disc.id }};
      var user_id = {{ current_user.id }};
  </script>
{% endblock %}