{% from 'bootstrap/utils.html' import render_static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <meta charset="UTF-8">
  {% block title %}<title>{% block page_title %}{% endblock %} - 立刻 Like</title>{% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {{ render_static('css', 'semantic-ui/semantic.css') }}
  {% block head %}
  {% endblock %}
</head>
  <body>
  {% block body %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
  </body>
</html>