{% from '_macros.html' import render_static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <meta charset="UTF-8">
  {% block title %}<title>{% block page_title %}{% endblock %} - 立刻 Like</title>{% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {{ render_static('css', 'semantic-ui/semantic.min.css') }}
  {{ render_static('css', 'css/common.css') }}
  {% block head %}
  {% endblock %}
</head>
  <body>
  <div class="ui orange inverted large top fixed menu">
  <div class="nav-container">
  <div class="item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 895.12 895.12" style="height: 28px;width: 28px"><defs><style>.cls-1{fill:#F2711C;}.cls-2{fill:#7acfdf;}.cls-3{fill:#fcf2cb;}</style></defs><title>like</title><g id="background"><rect class="cls-1" width="895.12" height="895.12" rx="194.25" ry="194.25"/></g><g id="logo"><path class="cls-2" d="M731.73,788.32l-42,42H479.58a125,125,0,0,1-125-125V209.61l42-42,38.79,545.32a49,49,0,0,0,49,49Z" transform="translate(-64.21 -63.87)"/><path class="cls-3" d="M731.73,694v94.32H521.58a125,125,0,0,1-125-125V167.61H494V644a50,50,0,0,0,50,50Z" transform="translate(-64.21 -63.87)"/></g></svg>
  </div>
    <a href="{{ url_for('front.index') }}" class="item">首页</a>
    <a href="{{ url_for('front.follow') }}" class="item">关注</a>
    <a href="{{ url_for('front.discovery') }}" class="item">发现</a>
    <div class="item">
      <form action="/search" method="post">
        <div class="field">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
        <div class="field">
          <div class="ui icon input">
            <input name="query" type="text" placeholder="搜索用户、动态……">
            <i class="search link icon search-btn"></i>
          </div>
        </div>
      </form>
    </div>
    <div class="right menu">
      {% if current_user.is_authenticated %}
        <a class="item" href="{{ url_for('user.index', user_id=current_user.id) }}">{{ current_user.username }}</a>
        <a class="item" href="{{ url_for('user.notification') }}">
          <i class="bell outline icon yellow"></i>
          {% if unread_count != 0 %}
            <div class="ui teal label">{{ unread_count }}</div>
          {% endif %}
        </a>
        <a class="item" href="{{ url_for('auth.logout') }}"><i class="power off icon yellow"></i></a>
      {% else %}
        <a class="item" href="{{ url_for('auth.sign_up') }}">注册</a>
        <a class="item" href="{{ url_for('auth.login') }}">登录</a>
      {% endif %}
    </div>
  </div>
  </div>
  {% block body %}
  {% endblock %}
  {% block scripts %}
    {{ render_static('js', 'js/jquery.min.js') }}
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.map"></script>
    {{ render_static('js', 'js/moment-with-locales.min.js') }}
    {{ render_static('js', 'semantic-ui/semantic.min.js') }}
    {{ render_static('js', 'js/common.js') }}
  {% endblock %}
  </body>
</html>