{% macro render_post_card(post) %}
  <div class="ui card orange">
    <div class="content">
      <div class="right floated meta">{{ moment(post.create_time).fromNow() }}</div>
      <div class="header">
        <a href="{{ url_for('front.topic', topic_id=(post.topic.id)) }}">
          #{{ post.topic.name }}
        </a>
      </div>
      <div class="description">
        <a href="{{ url_for('front.post', post_id=post.id) }}">
          <p>{{ post.content }}</p>
        </a>
      </div>
    </div>
    <div class="extra content actions">
    {# 点赞动态 #}
      <span class="left floated like-post to-bind" data-action="likePost" data-id="{{ post.id }}">
        {% if current_user in post.liked_users %}
          <i class="heart icon orange"></i>
        {% else %}
          <i class="heart icon"></i>
        {% endif %}
        <span class="count">{{ post.liked_users|length }}</span>
      </span>
    {# 收藏动态 #}
      <span class="left floated collect-post to-bind" data-action="collectPost" data-id="{{ post.id }}">
        {% if current_user in post.collected_users %}
          <i class="star icon orange"></i>
        {% else %}
          <i class="star icon"></i>
        {% endif %}
      <span class="count">{{ post.collected_users|length }}</span>
      </span>
      <span class="left floated comment-post" data-action="commentPost" data-id="{{ post.id }}">
        <i class="comment icon"></i>
        <span class="count">{{ post.comments|length }}条评论</span>
      </span>
      <div class="right floated author">
        <a href="{{ url_for('user.index', user_id=post.creator_id) }}">{{ post.creator.username }}</a>
      </div>
    </div>
    {% if post.comments|length > 0 %}
      <div class="extra content hot-comment" data-post-id="{{ post.id }}">
        <a href="{{ url_for('front.post', post_id=post.id, _anchor='post-comments') }}">
          <p class="header">热门评论</p>
          {% set comment = post.get_hot_comments() %}
          <div class="right floated meta">{{ comment.liked_users|length }}人赞了该评论</div>
          <p>{{ comment.creator.username }}：{{ comment.content }}</p>
        </a>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_comment_card(comment) %}
  <div class="comment" data-id="{{ comment.id }}">
    <div class="content">
      <a href="#" class="author">{{ comment.creator.username }}</a>
      <div class="metadata">
        <span class="date">{{ moment(comment.create_time).fromNow() }}</span>
      </div>
      <div class="text">{{ comment.content }}</div>
      <div class="actions">
      {# 点赞评论 #}
        <span class="like-comment to-bind" data-action="likeComment" data-id="{{ comment.id }}">
          {% if comment in current_user.liked_comments %}
            <i class="heart icon orange"></i>
          {% else %}
            <i class="heart icon"></i>
          {% endif %}
          <span class="count">{{ comment.liked_users|length }}</span>
        </span>
        <span class="comment-comment to-bind" data-action="commentComment">
          <i class="comment icon"></i>
        </span>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_trend_card(trend) %}
{% endmacro %}

{% macro render_user_card(user) %}
<div class="ui card user-card">
    <div class="image">

    </div>
    <div class="content">
      <div class="header">
        <span>{{ user.username }}</span>
      </div>
      <div class="description">
        <span>{{ user.bio }}</span>
      </div>
    </div>
    {% if user is not is_current_user %}
      <div class="extra content">
      {% if user in current_user.followed %}
        <a class="follow-user" data-id="{{ user.id }}">
          <i class="heart icon orange"></i>
          <span class="follow-status">取消关注</span>
        </a>
        {% else %}
        <a class="follow-user" data-id="{{ user.id }}">
          <i class="heart icon"></i>
          <span class="follow-status">关注</span>
        </a>
        {% endif %}
      </div>
    {% endif %}
    <div class="extra content">
      <div class="ui horizontal statistics">
        <a href="{{ url_for('user.followed', user_id=user.id) }}">
          <div class="statistic">
            <div class="value">{{ user.followed|length }}</div>
            <div class="label">
              {% if user is is_current_user %}我{% else %}Ta{% endif %}关注的人
            </div>
          </div>
        </a>
        <a href="{{ url_for('user.followers', user_id=user.id) }}">
          <div class="statistic">
            <div class="value">{{ user.followers|length }}</div>
            <div class="label">
              关注{% if user is is_current_user %}我{% else %}Ta{% endif %}的人
            </div>
          </div>
        </a>
        <a href="{{ url_for('user.topic', user_id=user.id) }}">
          <div class="statistic">
            <div class="value">{{ user.followed_topics|length }}</div>
            <div class="label">关注的话题</div>
          </div>
        </a>
        <a href="{{ url_for('user.collection', user_id=user.id) }}">
          <div class="statistic">
            <div class="value">{{ user.collected_posts|length }}</div>
            <div class="label">收藏的动态</div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}
